@model RailwayReservation.LostFound

@{
    ViewBag.Title = "SearchLost";
}

<h1 style = "color:White; text-align:center;font-size:50px;">Search</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        <h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "color:lightgreen;" })
        </h1>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemType,"Item Type", htmlAttributes: new { @class = "control-label col-md-2" ,@style = "color:White; text-align:center;" })
            <div class="col-md-10">
                <select class="form-control" name="ItemType">
                    <option>Bag</option>
                    <option>Watch</option>
                    <option>Document</option>
                    <option>Wallet/Purse</option>
                    <option>Mobile</option>
                </select>

                @Html.ValidationMessageFor(model => model.ItemType, "", new { @class = "text-danger", @style = "color:#f59e42; font-size:20px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Brand, "Brand / Document Name", htmlAttributes: new { @class = "control-label col-md-2", @style = "color:White; text-align:center;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger", @style = "color:#f59e42; font-size:20px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Colour, htmlAttributes: new { @class = "control-label col-md-2", @style = "color:White; text-align:center;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Colour, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Colour, "", new { @class = "text-danger", @style = "color:#f59e42; font-size:20px;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.train_id, "Train Number",htmlAttributes: new { @class = "control-label col-md-2", @style = "color:White; text-align:center;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.train_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.train_id, "", new { @class = "text-danger", @style = "color:#f59e42; font-size:20px;" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (User.IsInRole("admin"))
{
    <div>
        @Html.ActionLink("Back to List", "Index", "", new { @style = "color:#000aaa; font-size:20px;" })
    </div>

}
else
{
   <div>
        @Html.ActionLink("Back to Menu", "Menu", "", new { @style = "color:#000aaa; font-size:20px;" })
</div>
}

