@model IEnumerable<RailwayReservation.Service>

@{
    ViewBag.Title = "Status";
}

<h2 style="color:white">Service Status</h2>


<table class="table">
    <tr>
        <th>
            Passenger Name
        </th>
        <th>
            PNR
        </th>
        <th>
            Service
        </th>
        <th>
            Remark
        </th>
        <th>
            Status
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ticket.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.pnr)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Service1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Remark)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>

    <td>
        @if (Html.DisplayFor(modelItem => item.Status).ToString().Equals("Pending"))
        {
            @Html.ActionLink("Delete Request", "Delete", new { id = item.ServiceId })
        }
    </td>
</tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "Index", "", new { @style = "color:#000aaa; font-size:20px;" })
</div>
