@model  IEnumerable<RailwayReservation.Train>

@{
    ViewBag.Title = "Trains";
}

<h1 style="text-align: center;color:white">Trains</h1>
<p>
    @Html.ActionLink("Add New Train", "Create", "", new { @style = "color:#ffff22; font-size:20px;" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.source).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destination).ToString().ToUpper()
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fare).ToString().ToUpper() (For Sleeper Class)
        </th>
        <th>
            Actions
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fare)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.train_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.train_id }) |
                @Html.ActionLink("Remove train", "Delete", new { id = item.train_id })
            </td>
        </tr>
    }

</table>
<div>
   
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
